fastapi
uvicorn
pydantic
python-dotenv
ipython
plantuml
anthropic
openai
huggingface_hub
requests
Pillow
google-generativeai
psycopg2-binary
pgvector
pypdf
sentence-transformers
langchain-text-splitters
langchain
langgraph
langchain-openai
